---
import Layout from "../layouts/Layout.astro";
import { Header } from "../components/Header";
import { Hero } from "../components/Comunicacion/Hero";
import { Blockquote } from "../components/Comunicacion/Blockquote";
import { Footer } from "../components/Footer";
import { Mentes } from "../components/Comunicacion/Mentes";
---

<Layout>
  <Header theme="light" client:visible />
  <Hero client:visible />
  <Mentes client:visible />
  <Blockquote client:visible />
  <div class="bg-isei-footer relative overflow-hidden">
    <div
      class="w-80 lg:w-4/12 aspect-square rounded-full bg-[#3753b0] absolute lg:-top-[30rem] lg:left-[12rem] blur-[150px] lg:blur-[250px]"
    >
    </div>
    <Footer client:visible />
  </div>
</Layout>
